@model Banca.Models.Transferencia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>   
</head>
<body>
    
    @using (Html.BeginForm("administrar","Transferencias",FormMethod.Post,new { @class="form-inline"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Cliente </h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <dt>
                    @Html.LabelFor(model => Model.ClienteOrigen.NumeroCuenta, "Numero cuenta Origen")
                </dt>
                <dt>
                    @Html.TextBoxFor(model => Model.ClienteOrigen.NumeroCuenta, new { @Value = (Model==null)?"111111":Model.ClienteOrigen.NumeroCuenta, type = "text", @class = "form-control", @id = "idCuentaOrigen" })

                </dt>
                <dt>
                    @Html.LabelFor(model => Model.ClienteOrigen.Saldo, "Saldo")
                </dt>
                <dt>
                    @Html.TextBoxFor(model => model.ClienteOrigen.Saldo, new { type = "text", @class = "form-control", @id = "idSaldoCO" })

                </dt>
                <dt>
                    @Html.LabelFor(model => Model.ClienteDestino.NumeroCuenta, "Numero cuenta Destino")
                </dt>
                <dt>
                    @Html.TextBoxFor(model => Model.ClienteDestino.NumeroCuenta, new { type = "text", @class = "form-control", @id = "idCuentaDestino" })

                </dt>
                <dt>
                    @Html.LabelFor(model => Model.Valor, "Valor Transferir")
                </dt>
                <dt>
                    @Html.TextBoxFor(model => model.Valor, new { type = "text", @class = "form-control", @id = "idSaldoTransferir" })

                </dt>
            </div>
        </div>
        <p>
            <button id="idTransferir" type="submit">Transferir</button>
        </p>
        if (Model != null) { 
            if (Model.estadoTransaccion == true)
            {
               @Html.Label("Transferencia exitosa", new { id = "MensajeRespuesta" })
            }
            if(Model.ClienteDestino!=null){
                if (Model.estadoTransaccion == false) { 
                @Html.Label("Transferencia No exitosa", new { id = "MensajeRespuesta" })
                }
            }
        }
    }
</body>
</html>
