@model Banca.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<script src="~/Scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/Login.js">
</script>
<script type="text/javascript">
    var urlLoginUsuario = '@Url.Action("Autenticarse","Usuario")';
</script>
<body>
    @using (Html.BeginForm("Autenticarse", "Login", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div>
            <h4>Usuario</h4>
            <hr />
            <dl class="dl-horizontal">



                <dt>
                    @Html.LabelFor(model => Model.username, "Nombre de usuario")
                </dt>
                <dt>
                    @Html.TextBoxFor(model => Model.username, new { type = "text", @class = "form-control", @id = "idUsuario" })

                </dt>
                <dt>
                    @Html.LabelFor(model => Model.password, "Contraseña")
                </dt>
                <dt>
                    @Html.TextBoxFor(model => model.password, new { type = "password", @class = "form-control", @id = "idPassword" })


                </dt>


            </dl>
        </div>
        <p>
            <!-- <input id="idLoguearse" type="button" value="Login" onclick="LoguearUsuario();"/>
                -->
            <button id="idLoguearse" type="submit">Loguearse</button>
        </p>
    }
</body>
</html>
 